
* {
  box-sizing: border-box;
}


#sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  width: 270px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid rgb(221, 221, 221);
}

#term {
  text-align: center;
}

#pic {
  margin-top: 30px;
  margin-left: 15px;
  text-align: center;
  height: 200px;
  width: 200px;
  background-color: red;
}

#definition{
  margin-top: 100px;
  text-align: center;
  height: 200px;
  width: 200px;
  background-color: red;
}



/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/* Back Button Group */
#close {
  float: right;
  height: 50px;
}

#backButton {
  height: 20px;
  width: 20px;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  cursor: pointer;
  z-index: 1000003;
}

/* Upvote and Downvote */

.user_review {
  height: 30px;
  width: 100%;
  margin: 10px 0;
  background-color: orange;
  
}
.upvote_button {
  height: 30px;
  width: 30px;
  float: left;
}


